.venv/
.uv-cache/
.npm-cache/
node_modules/
dist/
coverage/
resources/database/*
resources/global/*
resources/logs/*
!resources/database/.gitkeep
!resources/global/.gitkeep
!resources/logs/.gitkeep
.DS_Store
